@model IEnumerable<BloodDonation.ViewModels.DisplayDonorViewModel>

@{
    ViewData["Title"] = "lista krwiodawców";
}

<h2>Donor list</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pesel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationGiven)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Badge)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pesel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.BloodType)"  style="max-height:50px ; max-width:50px">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationGiven) ml
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Badge)"  style="max-height:50px ; max-width:50px">
            </td>
        </tr>
}
    </tbody>
</table>
