@model Dictionary<float, string>

@{
    ViewData["Title"] = "O nas";
}

<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-light">Oddajac krew </h1>
                <p class="lead">Ratujesz życie</p>
            </div>
        </div>
    </div>
</header>
<link rel="stylesheet" href="~/css/site.css" />

<h3>Honorowe oddawanie krwi</h3>
<div class="row">
    <p>
        "Oddając krew - darujesz życie" - to hasło towarzyszy działaniom Polskiego Czerwonego Krzyża od 55 lat - od czasu, gdy PCK zajął się organizacją i propagowaniem honorowego krwiodawstwa oraz uświadamianiem znaczenia krwi w ratowaniu życia i zdrowia ludzkiego.
        Co prawda, za sprawy związane z przetwarzaniem krwi odpowiada służba krwi podległa Krajowemu Centrum Krwiodawstwa i Krwiolecznictwa w Warszawie, jednak planowe i rytmiczne zaopatrzenie regionalnych centrów krwiodawstwa i krwiolecznictwa w życiodajną krew możliwe jest przede wszystkim dzięki honorowym dawcom.
    </p>
    <p>
        Ruch Honorowych Dawców Krwi jest integralną częścią struktury PCK i zrzesza członków oraz wolontariuszy, którzy poza systematycznym i planowym oddawaniem krwi, promują oraz upowszechniają ideały Ruchu zjednując mu tym samym nowych sympatyków.
        Strukturę organizacyjną Ruchu tworzą kluby i rady HDK. Kluby, jako podstawowe jednostki organizacyjne PCK, zrzeszają dawców w środowiskach lokalnych: miejscach zamieszkania, pracy lub nauki. Podejmowane przez nie inicjatywy to m.in.: doraźne akcje poboru np. w odzewie na apel służby zdrowia, szkolenia, pogadanki, konkursy, wspólne wyjazdy lub imprezy sportowe. Rady HDK działają przy zarządach PCK wszystkich szczebli, a ich działalność dotyczy przede wszystkim koordynacji i inspiracji prac klubów oraz współpracy ze służbą krwi. Nad całokształtem prac Ruchu oraz jego ogólnopolską strategią czuwa, powołana przy Zarządzie Głównym PCK, Krajowa Rada HDK.
    </p>
    <p>
        Drodzy Krwiodawcy, jesteśmy Wam wdzięczni za Wasze poświęcenie oraz wkład w istnienie Ruchu HDK. Krwiodawstwo to dla Was satysfakcja, a dla potrzebujących Waszej krwi - szansa i bezcenny dar życia. Dziękujemy

    </p>
</div>
<h3>Kto moze oddać krew ?</h3>
<div class="row">
    <ul>
        <li>masz 18-65 lat i posiadasz Dowód Osobisty (lub inny dokument ze zdjęciem),</li>
        <li>ważysz: powyżej 50 kg,</li>
        <li>nie chorowałeś na żółtaczkę,</li>
        <li>czujesz się zdrowy,</li>
        <li>nie chorujesz na choroby zakaźne</li>
        <li>jeśli w ciągu ostatnich 6 miesięcy nie miałeś wykonanego zabiegu operacyjnego, tatuażu, przekłucia uszu lub innych części ciała.</li>
    </ul>
</div>

<h3>Honorowi krwiodawcy</h3>
<div class="row">
    <p>
        Odznakę honorową nadaje Zarząd Okręgowy Polskiego Czerwonego Krzyża na pisemny wniosek:
    </p>
    <ul>
        <li>jednostek organizacyjnych PCK</li>
        <li>stowarzyszeń i klubów zrzeszających honorowych dawców krwi</li>
        <li>jednostek organizacyjnych publicznej służby krwi.</li>
    </ul>
    <p>
        Odznakę wraz z legitymacją „Zasłużonego Honorowego Dawcy Krwi” nadaje Polski Czerwony Krzyż, na podstawie danych przekazanych przez jednostkę organizacyjną publicznej służby krwi, w której dawca krwi oddał krew lub jej składniki o objętości uprawniającej do nadania tej odznaki. Wzór odznaki regulowało rozporządzenie Ministra Zdrowia z dnia 21 sierpnia 2006 r. Obecnie reguluje je rozporządzenie z 11 września 2017 r., zmienione 4 grudnia 2017 r. Szczegółowe zasady i tryb przyznawania reguluje Ustawa z dnia 20 maja 2016 r.
    </p>
    <p>
        Odznaka honorowa „Zasłużony Honorowy Dawca Krwi” przysługuje honorowemu dawcy po oddaniu krwi w ilościach:
    </p>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="~/images/odznaki/III.png" style="max-height:100% ; max-width:100%">
            </div>
            <div class="col-md-8">
                <h4>Odznaka III stopnia</h4>
                <ul>
                    <li>kobiecie, która oddała w dowolnym okresie co najmniej 5 litrów krwi lub odpowiadającą tej objętości ilość jej składników,</li>
                    <li>mężczyźnie, który oddał w dowolnym okresie co najmniej 6 litrów krwi lub odpowiadającą tej objętości ilość jej składników</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img src="~/images/odznaki/II.png" style="max-height:100% ; max-width:100%">
            </div>
            <div class="col-md-8">
                <h4>Odznaka II stopnia</h4>
                <ul>
                    <li>kobiecie, która oddała w dowolnym okresie co najmniej 10 litrów krwi lub odpowiadającą tej objętości ilość jej składników,</li>
                    <li>mężczyźnie, który oddał w dowolnym okresie co najmniej 12 litrów krwi lub odpowiadającą tej objętości ilość jej składników</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img src="~/images/odznaki/I.png" style="max-height:100% ; max-width:100%">
            </div>
            <div class="col-md-8">
                <h4>Odznaka I stopnia</h4>
                <ul>
                    <li>kobiecie, która oddała w dowolnym okresie co najmniej 15 litrów krwi lub odpowiadającą tej objętości ilość jej składników,</li>
                    <li>mężczyźnie, który oddał w dowolnym okresie co najmniej 18 litrów krwi lub odpowiadającą tej objętości ilość jej składników</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<h3>Ilość oddanej krwi</h3>
@*<div class="container">
    <div class=" row">
        <div class="col-lg-3"><img src=@Model.ElementAt(0).Value class="img-responsive"><p style="text-align:center">@Model.ElementAt(0).Key ml</p></div>
        <div class="col-lg-3"><img src="~/images/blood_groups/APositive.png" class="img-responsive"><p style="text-align:center">@Model.ElementAt(1).Key ml</p></div>
        <div class="col-lg-3"><img src="~/images/blood_groups/BPositive.png" class="img-responsive"><p style="text-align:center">@Model.ElementAt(2).Key ml</p></div>
        <div class="col-lg-3"><img src="~/images/blood_groups/ABPositive.png" class="img-responsive"><p style="text-align:center">@Model.ElementAt(3).Key ml</p></div>
    </div>
    <div class=" row">
        <div class="col-sm-3"><img src="~/images/blood_groups/ZeroNegative.png" class="img-responsive"></div>
        <div class="col-sm-3"><img src="~/images/blood_groups/ANegative.png" class="img-responsive"></div>
        <div class="col-sm-3"><img src="~/images/blood_groups/BNegative.png" class="img-responsive"></div>
        <div class="col-sm-3"><img src="~/images/blood_groups/ABNegative.png" class="img-responsive"></div>
    </div>*@
<div class=" row">
    @{
        int i = 0;
    }
    @foreach (var item in Model)
    {
        <div class="col-lg-3"><img src=@item.Value class="img-responsive"><p style="text-align:center">@item.Key l</p></div>
        if (i == 3)
        {
            @Html.Raw("</div><div class='row'>");
        }
        i++;
    }
</div>

