@model IEnumerable<BloodDonation.ViewModels.DisplayDonationViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pesel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pesel)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.BloodType)" style="max-height:50px ; max-width:50px">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Data)*@
                @String.Format("{0:dd/MM/yyyy}", item.Data)
            </td>
        </tr>
}
    </tbody>
</table>
